body {
  margin: 0 auto;
  font-family: sans-serif;
  background-color: #fdfdfd;
  padding: 0 40px 40px 40px;
  width: 70%;
}

p{
  padding-left: 20px;
  font-size: 18px;
  color: #333;
  line-height: 1.42857;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Golos Text', sans-serif;
  padding: 20px 0;
  color: rgb(255, 0, 89);
  font-size: 38px;
}

h2 {
  font-family: 'Golos Text', sans-serif;
  margin-top: 60px;
  padding: 10px 0;
  color: rgb(255, 0, 89);
  font-size: 32px;
  text-align: center;
}

h3 {
  font-family: 'Golos Text', sans-serif;
  margin-bottom: 0px;
  color: rgb(255, 0, 89);
  padding: 10px 0;
  padding-left: 10px;
  font-size: 26px;
}

h4 {
  font-family: 'Golos Text', sans-serif;
  margin-bottom: 0px;
  color: rgb(255, 0, 89);
  padding-left: 20px;
  font-size: 22px;
  margin-top: 10px;
}

ul {
  list-style-type:none;
  list-style-position: outside;
  padding: 0 0 0 30px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 2px;
  color: #333;
}

ul li {
  padding: 5px 0;
}

ol {
  list-style-position: outside;
  padding: 0 0 0 30px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 2px;
  color: #333;
}

ol li {
  padding: 5px 0;
}

.menu-li {
  list-style-type: none;
  padding: 0 0 0 0px;
}


a:link,
a:visited{
  color: #333;
}
a:hover{
  text-decoration: none;
  color: blue;
  font-weight: 700;
}

.intro-title {
  font-weight: 700;
  font-size: 50px;
  text-align: left;
  color: #333;
  margin-top: 20px;
  margin-bottom: 0px;
}

.about-intro-text {
  font-size:24px;
  font-weight:400;
  color:rgb(24, 24, 24); 
  text-align: left;
}

summary:not(.menu-summary), .inner {
  font-family: 'Lato', sans-serif;
  color: #3C91E6;
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 20px;
}

summary:not(.menu-summary):hover, .inner:hover {
  font-weight: 800;
  cursor: pointer;
}

.menu-summary {
  color: #333;
  font-weight: 400;
  text-decoration: underline;
}

.menu-summary:hover, inner:hover {
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  color: blue;
}