<nav>
  <ul>
    <li class="menu-li"><a href="{{ .Site.BaseURL }}">Home</a></li>
    <li class="menu-li"><a href="{{ .Site.BaseURL }}/about">About</a></li>
    <li class="menu-li"><a href="{{ .Site.BaseURL }}/contact">Contact</a></li>
    <li class="menu-li"><a href="{{ .Site.BaseURL }}/final-project">Final Project</a></li>
    <li class="menu-li"><a href="{{ .Site.BaseURL }}/code-dump">Code Dump</a></li>
    {{ with .Site.GetPage "/assignments" }}
      <li class="menu-li">
        <details>
          <summary class="menu-summary">Assignments</summary>
          <ul>
            {{ range sort (where .Pages "Params.week_order" "!=" nil) "Params.week_order" }}
              <li class="menu-li"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        </details>
      </li>
    {{ end }}
  </ul>
</nav>